.infor-checkout {
  width: 90%;

  .contact {
    padding: 20px;
  }

  .transport {
    padding: 20px;

    h4 {
      line-height: 20px;
      font-size: 16px;
      color: black;
    }

    .fast-shipping,
    .nomal-shipping {
      margin-left: 10px;

      p {
        margin: 6px;
      }
    }
  }

  .pay {
    padding: 20px;

    h4 {
      color: black;
    }
  }
}