/* OrderHistory.scss */
.order-history {
  width: 90%;
  margin: 20px auto;
  height: 550px;

  &__header {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f9f9f9;
      font-weight: bold;
    }
  }
}