.dashboard {
  padding: 20px;
  background-color: #f8f9fa;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__card {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &-icon {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #3b82f6;
      }

      &-info {
        h2 {
          font-size: 1.5rem;
          margin: 0;
        }

        p {
          font-size: 1rem;
          color: #666;
        }
      }
    }
  }

  &__orders {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h2 {
        font-size: 2rem;
        margin: 0;
        color: green;
      }

      p {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin: 0;

        .dashboard__orders-status {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: green;
          border-radius: 50%;
          margin-left: 5px;
        }
      }

      button {
        background-color: #d4edda;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        color: green;
        cursor: pointer;

        a {
          color: rgb(26, 24, 24);
          text-decoration: none;
        }

        &:hover {
          background-color: #c3e6cb;
        }
      }
    }

    &-statuses {
      display: flex;
      justify-content: space-between;

      &-status {
        flex: 1;
        text-align: center;

        h3 {
          font-size: 1.5rem;
          margin: 0;
        }

        p {
          font-size: 1rem;
          color: #666;
        }

        &:not(:last-child) {
          border-right: 1px solid #e9ecef;
        }
      }
    }
  }
}